notebooks/off_resonant_coupling/cah_init_PU/
notebooks/off_resonant_coupling/cah_init_LM/
notebooks/off_resonant_coupling/caoh_init_PU/
notebooks/off_resonant_coupling/caoh_init_LM/
images/
results_rap_caoh/
results_rap_cah/
results_pumping_caoh/
results_pumping_cah/
__pycache__/
*.pyc
.ipynb_checkpoints/
